.header__logo{
  margin: 0;
  width: 118px;
  transition: opacity 200ms ease-in-out;
}
.header__logo:hover{
  opacity: 0.8;
}
@media screen and (max-width:768px) {
  .header__logo{
    width: 100px;
  }
}
@media screen and (max-width:550px) {
  .header__logo{
    width: 60px;
  }
}