.popup__user-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 405.5px;
}
@media screen and (max-width: 768px)  {
  .popup__user-image{
    width: 342.5px;
  }
}
@media screen and (max-width: 550px)  {
  .popup__user-image{
    margin-top: 33px;
    width: inherit;
  }
}