@import url(../vendor/Inter/inter.css);
/* CSS FOR BODY */
@import url(../block/body/body.css);
/* CSS FOR HEADER */
@import url(../block/header/header.css);
@import url(../block/header/__logo-link/header__logo-link.css);
@import url(../block/header/__logo/header__logo.css);
@import url(../block/header/__title/header__title.css);
/* CSS FOR MENU */
@import url(../block/menu/menu.css);
@import url(../block/menu/__items/menu__items.css);
@import url(../block/menu/__image/menu__image.css);
/* CSS FOR FOOTER */
@import url(../block/footer/footer.css);
@import url(../block/footer/__author/footer__author.css);
/* CSS FOR FIXED BUTTON */
@import url(../block/buttons/button-up/button-up.css);
@import url(../block/buttons/button-add/button-add.css);
/* CSS FOR POPUP */
@import url(../block/popup/popup.css);
@import url(../block/popup/_active/popup_active.css);
@import url(../block/popup/__overlay/popup__overlay.css);
@import url(../block/popup/__container/popup__container.css);
@import url(../block/popup/__title/popup__title.css);
@import url(../block/popup/__form/popup__form.css);
@import url(../block/popup/__input/popup__input.css);
@import url(../block/popup/__submit-button-add/popup__submit-button-add.css);
@import url(../block/popup/__user-image/popup__user-image.css);
@import url(../block/popup/__image/popup__image.css);


.elements{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;
  max-width: 880px;
}
@media screen and (max-width: 550px)  {
  .elements{
    padding-top: 30px;
  }
}
.card{
  margin: 0 auto;
  margin-bottom: 71px;
  max-width: 388px;
}
@media screen and (max-width: 550px) {
  .card{
    margin-bottom: 30px;
  }
}
.card__container{
  margin: 0;
  display: flex;
}
.card__avatar{
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .card__avatar{
    width: 20px;
    height: 20px;
  }
}
.card__name{
  margin: 0;
  margin-left: 20px;
  align-self: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .card__name{
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 550px) {
  .card__name{
    font-size: 13px;
    line-height: 21px;
    margin-left: 10px;
  }
}
.card__image{
  margin: 0 auto;
  margin-top: 21px;
  object-fit: cover;
  border-radius: 10px;
  width: 388px;
  height: 561px;
}
@media screen and (max-width: 768px) {
  .card__image{
    width: 340px;
    height: 433px;
  }
}
@media screen and (max-width: 768px) {
  .card__image{
    width: 200px;
    height: 289px;
  }
}