.menu__button-add_Image{
  margin: 0;
  display: flex;
  background: none;
  background-image: url(../../../images/Add-i.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.menu__button-add_Image:hover{
  opacity: 0.75;
}
@media screen and (max-width: 550px) {
  .menu__button-add_Image{
    margin-bottom: 10px;
    left: 4.5vw;
    bottom: 4.5vw;
    width: 30px;
    height: 30px;
  }
}